<div class='container'>
<ul class="list-group list-group-flush ">
  <li class="list-group-item"><strong ><p class='front'>Firstly, I'm not gonna lie and say I'm over you.</p></strong>  </li>
  <li class="list-group-item"><strong><p class='front'>Cause then I'd be lying to myself. <i class="fas fa-lg fa-cheese"></i></p></strong> </h3></li>
  <li class="list-group-item"><h3 class='listings'>But moving on. Even though i think about you everyday. <i class="fas fa-laugh-squint fa-lg"></i></h3></li>
  <li class="list-group-item"><h3 class='listings'><u><center>Anyone who ends up with you is gonna be a lucky guy. And I'll always envy him.  <i class="fas fa-lg fa-heartbeat"></i> </center></u></h3></li>
  <li class="list-group-item"><h3 class='listings'><center>But I'm not doing this to win you back or anything. I'm doing this as an appreciation for a really sweet person that i met by chance. Who became so important to me. <i class="fas fa-lg fa-globe-americas"></i></center></h3></li>
    <li class='list-group-item'><h3 class='listings'> <center>Never Change Dhanya <u>Singh/Rajput.</u> Never Change <u>Electron.Dhanya</u> <i class="fas fa-lg fa-laugh-beam"></i> </center></h3></li>
</ul>
</div>

<style>

.list-group{
    padding: 10px;
}
.list-group-item{
    padding: 45px;
}

.listings{
    font-size: 17px;
    
}

.front{
    font-size: 16px;
}
</style>