<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Click Me! <i class="far fa-smile-beam"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Toh bassically baat yeh hai ki</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          Chocolates toh aapne mana kar di. <br>
          Suna hai log bday pe card dete hai. Toh <i><strong>i thought why not something different.</strong></i> <i class="far fa-lg fa-lightbulb"></i>  
          <hr>
          This is bassically your digital footprint on the internet. It's my birthday gift to you. <i class="fas fa-lg fa-gift"></i>
          <hr>
          You almost taught me, How to explain things properly. <i class="far fa-grin-squint-tears fa-lg"></i> <br>
          Quantum computing. Django. and what not. 
         <strong><i> It was fun. almost every part of it.
          </i></strong>

        </center>
      </div>
      <div class="modal-footer">
      
        <h3 class='wish'>Happy 22nd BirthDay Beautiful <i class="fas fa-birthday-cake"></i></h3> 
        
        
      </div>
    </div>
  </div>
</div>

<style>

.wish{
  margin-right: 53px;
  font-size: 22px;
}

.modal-footer{
  height: 90px;
}

</style>

