{% load static %}


<div class='container-fluid insects'>
  
    <div class='row py-3'>
        <div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class='container phh'>
                        <div class='row'>
                        <div class='col-sm-4'>
                            <div class="card" style="width: 18rem;">
                                <img src="{%static 'images/fourth.jpg'%}" style="width: auto;"class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title"><center>This was the first meme i made on you. That dog though  <i class="far fa-grin-beam-sweat"></i> </center></h5>
                                 
                                </div>
                              </div>
                        </div>
                       
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/eleven.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title second">If i had a ruppe for everytime i thought about you. I'd still have only one -></h5>
                                 
                                </div>
                              </div>
                        </div>
                        <style>
                        .second{
                          font-size: 18px;
                        }
                        </style>
                    </div>
                    </div>
                    
                  </div>
                  <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/seventh.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">..Cause you never leave my mind. <i class="fas  fa-grin-tears"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/ninth.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">You're really beautiful, you know. <i class="far fa-smile"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/meme1.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">I remember you didn't get this one the first time. <i class="fas fa-grin-tears"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/sixth.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">These are some good photos i have of you. </h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                   <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/eight.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Someone so beautiful. Should never be sad <i class="fas fa-hand-holding-heart"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/second.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">I always had this feeling like you were sad about something. And i really wanted to help... <i class="far fa-frown"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>

                   <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/thanos.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">But as thanos said. This is no time to mourn. This is no time at all. <i class="far fa-grin-tears"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>

                     <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/baby.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">So once again. Happiest Birthday Dhanya!  <i class="fas  fa-heart"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                       <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/ten.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">May you get all the happiness you deserve.  <i class="fas fa-smile-beam"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>

                    <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/memer.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Not to brag or something but,  <i class="fas fa-smile-beam"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>
                    <div class="carousel-item">
                    <div class='container'>
                        <div class='row'>
                        <div class='col-sm-12 col-lg-4'>
                            <div class="card" style="width: 18rem;">
                                <img  src="{%static 'images/meme4.jpg'%}" style="width: auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Sorry for this but everyone liked this one  <i class="fas fa-grin-tears"></i></h5>
                                 
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>

                    
                  
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>
<style>
  .insects{
  background-image: url(https://image.freepik.com/free-photo/closeup-concrete-wall-texture-background_1017-24490.jpg);
  background-repeat:repeat;
  max-height: 500px;
}
img{
    height: 400px;
   
}
.phh{
    margin-left: 15px;
}

</style>